<!doctype html>
<html lang="fr">
<head>
    <meta charset="">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Titre par défaut{% endblock %}</title>

    <link rel="icon" href="{{ asset('img/favicon.png') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Poppins:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>

<div class="container">
    <body>
        <header>
            <h1><a href="{{ path('main_home') }}">Bucket <img src="{{ asset('img/logo.png') }}" alt="bucket"> List</a></h1>
            {% include('inc/nav.html.twig') %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>

        <br>

        <footer>
        <div>&copy Bucket-List; {{ "now"|date("Y") }}

        </footer>
    </body>
</div>

</html>